In [ ]:
class User:
  userName = 'admin'
  password = 'qwerty'

  def info(self):
    print (f' Имя: {self.userName}, Пароль: {self.password}')

In [ ]:
user_1 = User()

In [ ]:
user_1.userName = 'Ivan'

In [ ]:
user_1.userName

'Ivan'

In [ ]:
User.userName

'admin'

In [ ]:
user_1.info()

 Имя: Ivan, Пароль: qwerty

Конструктор класса

In [ ]:
class Student:
  def __init__(self,name,surname,age,group):
    self.name = name
    self.surname = surname
    self.age = age
    self.group = group

  def info(self):
    print (f' Имя: {self.name}, Фамилия: {self.surname}, Возраст: {self.age}, Группа: {self.group}')

In [ ]:
student_1 = Student('Иван','Иванов', 18, 5)

In [ ]:
student_1.info()

 Имя: Иван, Фамилия: Иванов, Возраст: 18, Группа: 5

**Задача 1.** Дан список фамилий людей и нужно вывести фамилии, которые оканчиваются на "ов" и возраст больше 30

In [ ]:
names = ['Петров', 'Иванов','Сидоров', 'Матюхин',
         'Воронов', 'Ли', 'Васильцов', 'Сенченко']
ages = [12,33,56,34,26,30,19,30]

In [ ]:
len(names)

8

In [ ]:
len(ages)

8

In [ ]:
for i in range(len(names)):
  names_length = len(names[i])
  if names[i][(names_length-2):names_length] =='ов' and ages[i]>30:
    print(names[i])

Иванов
Сидоров

In [ ]:
for i, name in enumerate(names):
  if name.endswith('ов') and ages[i]>30:
    print(name)

Иванов
Сидоров

In [ ]:
for name, age in zip(names,ages):
  if name.endswith('ов') and age >30:
    print(name)

Иванов
Сидоров

In [1]:
class Student:
  def __init__(self,name,age):
    self.name = name
    self.age = age

In [2]:
students = []
students.append(Student ('Петров', 19))
students.append(Student('Иванов', 33))
students.append(Student('Васильцов', 56))
students.append(Student('Матюхин', 34))
students.append(Student('Воронов',26))
students.append(Student('Сидоров', 31))
students.append(Student('Васильцов', 19))
students.append(Student('Сенченко', 30))

In [3]:
for i in students:
  if i.name.endswith('ов') and i.age  > 30:
    print(i.name)

Иванов
Васильцов
Сидоров

**Наследование**

In [5]:
class Parent:
  parent_attr = 100

  def __init__(self):
    print ('Вызов родительского конструктора')

  def parent_method (self):
    print('Вызов родительского метода')

  def set_attr(self, attr):
    Parent.parent_attr = attr

  def get_attr (self):
    print (f'Атрибут родителя: {Parent.parent_attr}')

In [6]:
class Child(Parent):
  def child_method(self):
    print('Вызов метода класса наследника')

In [7]:
my_class = Child()

Вызов родительского конструктора

In [8]:
my_class.child_method()

Вызов метода класса наследника

In [9]:
my_class.parent_method()

Вызов родительского метода

In [10]:
my_class.set_attr(200)

In [11]:
my_class.get_attr()

Атрибут родителя: 200

In [12]:
class Person:
  def __init__(self, name, age):
    self.name = name
    self.age = age

  def introduce(self):
    print (f'Мое имя - {self.name}, возраст - {self.age}')

In [15]:
class Student(Person):
  def __init__(self, name,age, course):
    super().__init__(name,age)
    self.course = course

  def inroduce (self):
    super().introduce()
    print (f'Я на {self.course} курсе')

In [16]:
student1 = Student('Иван', 20,2)
student1.inroduce()

Мое имя - Иван, возраст - 20
Я на 2 курсе

**Инкапсуляция**

In [17]:
p1 = Person('Vladimir', 20)

In [19]:
p1.age = 25
p1.age

25

In [20]:
p1.age = -25
p1.age

-25

In [25]:
class Person:
  def __init__(self, name, age):
    self.__name = name
    self.__age = age

  def introduce(self):
    print (f'Мое имя - {self.__name}, возраст - {self.__age}')

  def set_age(self,age):
    if 18 <= age <= 65:
      self.__age = age

    else:
      raise ValueError ('Вы ввели некорректный возраст')

  def get_age (self):
    return self.__age

In [26]:
p1 = Person('Vladimir', 20)

In [27]:
p1.__age

AttributeError: 'Person' object has no attribute '__age'

In [28]:
p1.set_age(10)

ValueError: Вы ввели некорректный возраст

In [29]:
p1.set_age(20)

In [30]:
p1.get_age()

20

In [31]:
class Person:
  def __init__(self, name, age):
    self.__name = name
    self.__age = age

  def introduce(self):
    print (f'Мое имя - {self.__name}, возраст - {self.__age}')

  @property
  def age (self):
    return self.__age

  @age.setter
  def age (self,age):
    if 18 <= age <= 65:
      self.__age = age

    else:
      raise ValueError ('Вы ввели некорректный возраст')

In [32]:
p1 = Person('Vladimir', 20)

In [34]:
p1.age = 10

ValueError: Вы ввели некорректный возраст

In [35]:
p1.age = 20

In [36]:
p1.introduce()

Мое имя - Vladimir, возраст - 20