In [ ]:
def имя_функции (параметры):
  тело функции
  return Значение

In [4]:
def hello ():
  return print('Hello')

In [5]:
hello()

Hello

In [7]:
def hello ():
  hello = input('Введите приветствие: ')
  return print(hello)

In [8]:
hello()

Введите приветствие: Привет!
Привет!

In [11]:
def pifagor (x,y):
  result = (x**2 + y**2)**0.5
  return result

In [12]:
pifagor (3,4)

5.0

In [13]:
pifagor()

TypeError: pifagor() missing 2 required positional arguments: 'x' and 'y'

In [15]:
pifagor(3,4,5)

TypeError: pifagor() takes 2 positional arguments but 3 were given

In [16]:
pifagor(3,'4')

TypeError: unsupported operand type(s) for ** or pow(): 'str' and 'int'

In [17]:
def introduce (name,surname,age):
  print (f'Привет! Мое имя: {name}, моя фамилия: {surname}. Мне {age} лет')

In [18]:
introduce('Павел', 'Иванов', 29)

Привет! Мое имя: Павел, моя фамилия: Иванов. Мне 29 лет

In [19]:
introduce('Иванов', 'Павел', 29)

Привет! Мое имя: Иванов, моя фамилия: Павел. Мне 29 лет

**Задача 1**

In [20]:
def sequence (number):
  my_list = []
  for i in range (1, number + 1):
    my_list.append(i)
  return my_list

In [21]:
sequence(10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [22]:
def sequence (start,stop):
  my_list = []
  for i in range (start, stop + 1):
    my_list.append(i)
  return my_list

In [23]:
sequence (1,10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [24]:
def sequence (start,stop, step):
  my_list = []
  for i in range (start, stop + 1, step):
    my_list.append(i)
  return my_list

In [25]:
sequence (1,10,2)

[1, 3, 5, 7, 9]

In [30]:
def sequence (stop, start=1, step=1):
  my_list = []
  for i in range (start, stop + 1, step):
    my_list.append(i)
  return my_list

In [31]:
sequence (10)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [28]:
sequence (1,10,2)

[1, 3, 5, 7, 9]

**Задача 2.** Факториал

In [32]:
def faktorial (n):
  count = 1
  for i in range (1, n+1):
    count *= i
  return count

In [33]:
faktorial(5)

120

**Задача 3.** Написать функцию, которая расчитывает цену с учетом налога

In [34]:
def total_price(price,tax):
  result = price + (price*tax/100)
  return result

In [35]:
total_price(15000,20)

18000.0

In [36]:
total_price(20, 15000)

3020.0

In [37]:
def get_temperature(temperature):
  try:
    temperature = int(temperature)
    return temperature
  except:
    print ('ОШИБКА! Требуется ввести число')
    return None

In [38]:
get_temperature(20)

20

In [39]:
get_temperature('20')

20

In [40]:
get_temperature('few')

ОШИБКА! Требуется ввести число

Глобальные и локальные переменые

In [41]:
count = 0
def increment():
  count +=1

In [42]:
increment()

UnboundLocalError: local variable 'count' referenced before assignment

In [45]:
def increment():
  count = 0
  count +=1
  return count

In [46]:
increment()

1

In [49]:
count_global = 15
def increment():
  global count_global
  count_global += 1
  return count_global

In [50]:
increment()

16

**Рекурсия**

**Задача 4.** Факториал числа

In [ ]:
#n! = n*(n-1)

In [ ]:
#5! = 1*2*3*4*5
#5! = 5*(4*3*2*1) = 5*4!

In [1]:
def factorial(n):
  if n == 1:
    return 1
  result = factorial (n-1)
  return n*result

In [2]:
factorial(5)

120

**Лямбда-функции**

In [3]:
def summa (x,y):
  return (x+y)

In [4]:
summa(2,3)

5

In [5]:
(lambda x,y: x+y) (2,3)

5

In [6]:
summa_l = (lambda x,y: x+y)

In [7]:
summa_l(2,3)

5

**Задача 5**

In [9]:
num = ['5','10','7','11','3']

In [10]:
num.sort(key=int)
num

['3', '5', '7', '10', '11']

In [14]:
num = list(map(int,num))
num

[3, 5, 7, 10, 11]

In [15]:
list(map(lambda x: x**2,num))

[9, 25, 49, 100, 121]

**Аннотация типов**

In [17]:
def summa (x:int,y:int) -> int:
  return (x+y)

In [ ]:
summa()

**Документация**

In [18]:
def summa (x:int,y:int) -> int:
  '''
  Функция, которая возвращает сумму двух чисел

  Параметры:
     x(int): Целое число
     y(int): Целое число

  Возвращаемое значение:
     result (int): Сумма (целое число)
  '''
  result = int(x) + int(y)

  return result

In [19]:
help(summa)

Help on function summa in module __main__:

summa(x: int, y: int) -> int
    Функция, которая возвращает сумму двух чисел

    Параметры:
       x(int): Целое число
       y(int): Целое число

    Возвращаемое значение:
       result (int): Сумма (целое число)

In [20]:
summa.__doc__

'\n  Функция, которая возвращает сумму двух чисел\n\n  Параметры:\n     x(int): Целое число\n     y(int): Целое число\n\n  Возвращаемое значение:\n     result (int): Сумма (целое число)\n  '